<%= form_with(model:@task,local:true) do |f| %>
  <% if @task.errors.any? %>
    <h2><%= @task.errors.count %>件のエラーがあります。</h2>
    <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>
  <div class="task_title">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="task_content">
    <%= f.label :content %>
    <%= f.text_area :content %>
  </div>
  <div class="task_deadline">
    <%= f.label :deadline %>
    <%= f.date_field :deadline %>
  </div>
  <div class="task_status">
    <%= f.label :status %>
    <%= f.select :status,["未着手","着手中","完了"] %>
  </div>
  <div class="task_priority">
    <%= f.label :priority %>
    <%= f.select :priority, Task.priorities.keys.map{|k| [Task.priorities_i18n[k],k]} %>
  </div>
  <%= f.submit %>
<% end %>