<h2>タスク詳細</h2>
<div>
  <%= @task.title %>
</div>
<div>
  <%= @task.content %>
</div>
<div>
  <%= @task.deadline.strftime("%Y年%m月%d日") %>
</div>
<%= link_to t("view.edit"),edit_task_path(@task.id) %>
<%= link_to t("view.delete"),task_path(@task.id),method: :delete,data:{confirm:t("Are you really sure?")} %>
<div><%= link_to t("view.back"),tasks_path %></div>