<h1>ユーザー編集</h1>

<%= form_with(model: @user,local: true,url: admin_user_path) do |f| %>
  <% if @user.errors.any? %>
  <h2><%= @user.errors.count %>件のエラーがあります。</h2>
  <ul>
    <% @user.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
  <% end %>

  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>

  <div>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>

  <div>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>

  <div>
    <%= f.label :admin %>
    <label><%= f.radio_button :admin,"true" %>管理者</label>
    <label><%= f.radio_button :admin,"false" %>一般ユーザー</label>
  </div>

  <%= f.submit %>
<% end %>