<h1><%= @user.name %>様のページ</h1>

<div>メールアドレス:<%= @user.email %></div>
<%= link_to "このユーザーを削除する",admin_user_path(@user.id),method: :delete,data:{confirm:t("view.Are you really sure?")} %>
<h3><%= @user.name %>様のタスク一覧</h3>
<div class="table-responsive">
  <table class="table table-bordered table-sm table-hover">
    <tr class="table-info">
      <th class="text" width="40%">タイトル</th>
      <th class="text" width="20%">終了期限</th>
      <th class="text" width="20%">進捗状態</th>
      <th class="text" width="20%">優先順位</th>
    </tr>
    <% @user.tasks.each do |task| %>
    <tr>
      <td class="text"><%= task.title %></td>
      <td class="text"><%= task.deadline.strftime("%Y%m月%d日") %></td>
      <td class="text"><%= task.status %></td>
      <% if task.priority_i18n == "高" %>
        <td class="text priority high"><%= task.priority_i18n %></td>
      <% elsif task.priority_i18n == "中" %>
        <td class="text priority moderate"><%= task.priority_i18n %></td>
      <% elsif task.priority_i18n == "低"%>
        <td class="text priority low"><%= task.priority_i18n %></td>
      <% end %>
    </tr>
    <% end %>
  </table>
</div>